/* css resets starts */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul {
  list-style-type: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html, body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: normal;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture, svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  text-decoration: none;
}

/* css reset ends */
@font-face {
  font-family: Jost;
  src: url(../vendor/fonts/Jost/Jost-VariableFont_wght.ttf);
}
@font-face {
  font-family: DM_Serif_Display;
  src: url(../vendor/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}
@font-face {
  font-family: slick1;
  src: url(../vendor/fonts/slick.ttf);
}
@font-face {
  font-family: slick2;
  src: url(../vendor/fonts/slick.woff);
}
nav {
  width: 100%;
  background-color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

p {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.22px;
}

h2 {
  color: #292F36;
  font-family: DM_Serif_Display;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 1px;
}

.flexprop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 0;
}

.btn__primary {
  display: inline-flex;
  gap: 10px;
  font-family: Jost;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.36px;
  align-items: center;
  cursor: pointer;
}

.left-nav {
  display: flex;
  align-items: center;
}
.left-nav h2 {
  color: #292F36;
  font-size: 40px;
  font-family: DM_Serif_Display;
  font-weight: 400;
  padding: 0 0.5rem;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 31px;
}
.right-nav .horizontal-list {
  display: flex;
  gap: 48px;
}
.right-nav .horizontal-list li a {
  color: #292F36;
  font-size: 20px;
  font-family: Jost;
  font-weight: 400;
}

.bar__icon {
  width: 2.5rem;
  cursor: pointer;
  display: none;
}

.dropdown__menu {
  display: none;
  position: absolute;
  right: 0;
  height: 0;
  top: 90px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 2;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown__menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown__menu li a {
  color: #292F36;
}

.open {
  height: 300px;
}

.display__flex {
  display: flex;
}

.banner__div {
  position: relative;
}
.banner__div img {
  width: 100%;
  height: auto;
  border-radius: 0px 0px 0px 291px;
}
.banner__div .container .banner__div--content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 34%;
}
.banner__div .container .banner__div--content h2 {
  font-size: 84px;
}
.banner__div .container .banner__div--content p {
  margin-top: 2px;
  margin-bottom: 21px;
}
.banner__div .container .banner__div--content .banner__btn {
  padding: 26px 48px;
  background-color: #292F36;
  border-radius: 18px;
  color: #ffffff;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  border: none;
}

.work__div {
  margin: 200px 0;
}
.work__div .work__div--container {
  margin: 0 21px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work__div .work__div--container h2 {
  font-size: 25px;
  padding-bottom: 20px;
}
.work__div .work__div--container .work_btn {
  margin-top: 50px;
  color: #4D5053;
  background-color: #ffffff;
}

.about__div .about {
  justify-content: space-between;
}
.about__div .about .about__div--left {
  width: 472px;
  padding: 32.5px 0;
}
.about__div .about .about__div--left h2 {
  margin-bottom: 33px;
}
.about__div .about .about__div--left p {
  margin-bottom: 45px;
}
.about__div .about .about__div--left .about__div--icon {
  display: flex;
  margin-bottom: 47px;
}
.about__div .about .about__div--left .about__div--icon .about__div--call {
  margin: 15px;
  color: #4D5053;
  font-family: Jost;
}
.about__div .about .about__div--left .about__div--icon .about__div--call h3 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.24px;
}
.about__div .about .about__div--left .about__div--icon .about__div--call p {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.22px;
  margin: 0;
}
.about__div .about .about__div--left .about__btn {
  color: #ffffff;
  padding: 26px 31px;
  background-color: #292F36;
  border-radius: 18px;
  border: none;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
}
.about__div .about .about__div--right img {
  border-radius: 0px 326.5px 0px 123px;
}

.testimonial__div {
  margin-top: 200px;
}
.testimonial__div .test {
  background-color: #F4F0EC;
  padding: 88px 0px;
  border-radius: 100px;
}
.testimonial__div .test .responsive .slick-dots li button::before {
  font-size: 50px;
}
.testimonial__div .test .testimonial__div--heading {
  padding: 0 300px;
  padding-bottom: 38px;
}
.testimonial__div .test .testimonial__div--heading h2 {
  text-align: center;
}
.testimonial__div .test .card .slick-track {
  display: flex;
  gap: 20px;
}
.testimonial__div .test .card .testimonial__div--card {
  padding: 30px;
  height: 340px;
  width: 33.33%;
  background-color: #ffffff;
  border-radius: 50px;
}
.testimonial__div .test .card .testimonial__div--card .info {
  display: flex;
  margin-bottom: 39px;
  gap: 20px;
  align-items: center;
}
.testimonial__div .test .card .testimonial__div--card .info img {
  border-radius: 50px;
}
.testimonial__div .test .card .testimonial__div--card .info h3 {
  color: #292F36;
  font-family: DM_Serif_Display;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.25px;
}
.testimonial__div .test .card .testimonial__div--card .info p {
  letter-spacing: 0.18px;
}

.logo__div {
  margin-top: 150px;
}
.logo__div .logo {
  justify-content: space-between;
  padding: 0 54px;
  align-items: center;
}

.project__div {
  margin-top: 150px;
}
.project__div .project__div--heading {
  padding: 0 220px 93px;
}
.project__div .project__div--heading h2 {
  text-align: center;
}
.project__div .project__div--heading p {
  text-align: center;
}
.project__div .space {
  margin-bottom: 56px;
}
.project__div .project__div--container {
  display: flex;
  justify-content: space-between;
}
.project__div .project__div--container .project__div--content .project__image--one {
  border-radius: 0px 80px 0px 0px;
}
.project__div .project__div--container .project__div--content .project__image--two {
  border-radius: 80px 0px 0px 0px;
}
.project__div .project__div--container .project__div--content .project__image--three {
  border-radius: 0px 0px 80px 0px;
}
.project__div .project__div--container .project__div--content .project__image--four {
  border-radius: 0px 0px 0px 80px;
}
.project__div .project__div--container .project__div--content .project__content {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
.project__div .project__div--container .project__div--content .project__content .project__content--left .project__link--primary {
  color: #292F36;
  font-family: DM_Serif_Display;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.project__div .project__div--container .project__div--content .project__content .project__content--left .project__link--secondary {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.22px;
}

.counter__div {
  margin-top: 150px;
  background-color: #F4F0EC;
}
.counter__div .counter {
  padding: 150px 0;
  justify-content: space-around;
}
.counter__div .counter .border__counter {
  border-right: 1px solid #CDA274;
}
.counter__div .counter .counter__div--content {
  position: relative;
  padding-right: 70px;
}
.counter__div .counter .counter__div--content h2 {
  color: #CDA274;
  font-size: 85px;
  text-align: center;
  letter-spacing: 1.7px;
}

.div__blog {
  margin: 200px 0;
}
.div__blog .blog__div--heading {
  padding: 0 190px 52px;
}
.div__blog .blog__div--heading h2 {
  text-align: center;
}
.div__blog .blog__div--heading p {
  text-align: center;
}
.div__blog .div__blog--content {
  gap: 27px;
}
.div__blog .div__blog--card {
  padding: 21px;
  border-radius: 62px;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  border: 1px solid #E7E7E7;
  position: relative;
}
.div__blog .div__blog--card .card__image img {
  border-radius: 45px 45px 0 0;
}
.div__blog .div__blog--card .card__tag {
  position: absolute;
  top: 50%;
  color: #4D5053;
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  background-color: #ffffff;
  left: 40px;
}
.div__blog .div__blog--card .card__content {
  padding: 21px 0;
}
.div__blog .div__blog--card .card__content .card__moreinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.div__blog .div__blog--card .card__content .card__moreinfo p {
  font-size: 16px;
  letter-spacing: 0.16px;
}
.div__blog .div__blog--card h2 {
  font-size: 25px;
  letter-spacing: 0.25px;
}
.div__blog .margin__card {
  background-color: #F4F0EC;
}

.contact__div .contact {
  background-color: #292F36;
  padding: 80px 0;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__div .contact h2 {
  color: #ffffff;
}
.contact__div .contact p {
  color: #ffffff;
  padding-top: 11px;
  padding-bottom: 32px;
}
.contact__div .contact .contact_btn {
  color: #ffffff;
  padding: 26px 37px;
  background-color: #CDA274;
  border-radius: 18px;
  border: none;
  box-shadow: 0px 10px 20px 0px #1F2022;
}

footer {
  margin-top: 135px;
}
footer .foot {
  display: flex;
  justify-content: space-between;
}
footer .foot .footer__one p {
  width: 393px;
  padding-bottom: 31px;
  padding-top: 18px;
}
footer .foot .footer__one .footer_logos {
  width: 225px;
  display: flex;
  justify-content: space-between;
}
footer .foot .fix__width {
  width: 258px;
}
footer .foot .footer__two h2 {
  font-size: 25px;
}
footer .foot .footer__two .vertical-list li {
  padding: 18px 0;
}
footer .foot .footer__two .vertical-list li a {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.22px;
}
footer .foot .footer__two p {
  padding: 18px 0;
}
footer .copyright {
  margin-top: 134px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 46px;
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  .banner__div img {
    border-radius: 0px 0px 0px 200px;
  }
  .banner__div .container .banner__div--content {
    max-width: 47%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  .banner__div img {
    border-radius: 0px 0px 0px 140px;
  }
  .banner__div .container .banner__div--content {
    max-width: 55%;
  }
  .about__div .about {
    gap: 75px;
  }
  .about__div .about .about__div--left {
    width: 50%;
  }
  .about__div .about .about__div--right {
    width: 50%;
  }
  .about__div .about .about__div--right img {
    height: 100%;
    border-radius: 0px 245.5px 0px 123px;
  }
  .testimonial__div .test .testimonial__div--heading {
    padding: 0 200px;
  }
  .testimonial__div .test .card .testimonial__div--card {
    padding: 30px;
    height: 450px;
  }
  .project__div .project .project__div--heading {
    padding: 0 124px 93px;
  }
  .project__div .project .project__div--container {
    gap: 80px;
  }
  .counter__div .counter .counter__div--content {
    padding-right: 40px;
  }
  .div__blog .blog__div--heading {
    padding: 0 66px 52px;
  }
  .div__blog .div__blog--content .div__blog--card .card__tag {
    top: 38%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 12px;
  }
  .btn__primary {
    font-size: 12px;
  }
  nav .right-nav {
    gap: 20px;
  }
  nav .right-nav .horizontal-list {
    gap: 15px;
  }
  .banner__div img {
    border-radius: 0px 0px 0px 150px;
  }
  .banner__div .container .banner__div--content {
    max-width: 38%;
  }
  .banner__div .container .banner__div--content h2 {
    font-size: 42px;
  }
  .banner__div .container .banner__div--content p {
    font-size: 12px;
  }
  .banner__div .container .banner__div--content .banner__btn {
    padding: 13px 24px;
    font-size: 8px;
    border-radius: 9px;
  }
  .work__div .display__flex {
    padding: 0px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .work__div .display__flex .work__div--container {
    width: calc(50% - 42px);
    padding: 0 58px;
  }
  .about__div .about .about__div--left .about__div--icon {
    align-items: center;
  }
  .about__div .about .about__div--left .about__div--icon img {
    height: auto;
    width: 50px;
  }
  .about__div .about .about__div--left .about__div--icon .about__div--call h3 {
    font-size: 12px;
  }
  .about__div .about .about__div--left .about__div--icon .about__div--call p {
    font-size: 12px;
  }
  .about__div .about .about__div--left a {
    font-size: 9px;
  }
  .about__div .about .about__div--left .about__btn {
    padding: 13px 15px;
    border-radius: 9px;
  }
  .about__div .about .about__div--right img {
    border-radius: 0px 163.5px 0px 61.5px;
  }
  .testimonial__div .test .testimonial__div--heading {
    padding: 0px 210px;
  }
  .testimonial__div .test .card .testimonial__div--card {
    height: 250px;
  }
  .logo__div .logo {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
  }
  .project__div .project .project__div--heading {
    padding: 0px 160px 93px;
  }
  .project__div .project .project__div--container {
    gap: 20px;
  }
  .project__div .project .project__div--container .project__div--content .project__content .project__content--left .project__link--primary {
    font-size: 16px;
  }
  .project__div .project .project__div--container .project__div--content .project__content .project__content--left .project__link--secondary {
    font-size: 12px;
  }
  .project__div .project .project__div--container .project__div--content .project__content .project__content--right {
    width: 35px;
    height: auto;
  }
  .counter__div .counter .counter__div--content {
    padding-right: 42px;
  }
  .counter__div .counter .counter__div--content h2 {
    font-size: 48px;
  }
  .div__blog .div__blog--content {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .div__blog .div__blog--content .div__blog--card {
    width: calc(50% - 13.5px);
  }
  .div__blog .div__blog--content .div__blog--card .card__tag {
    top: 45%;
  }
  .contact__div .contact .contact_btn {
    padding: 13px 18px;
    border-radius: 9px;
  }
  footer .foot .footer__one p {
    width: 215px;
  }
  footer .foot .footer__one .footer_logos {
    width: 126px;
  }
  footer .foot .footer__two h2 {
    font-size: 16px;
  }
  footer .foot .footer__two .vertical-list li a {
    font-size: 12px;
  }
  footer .foot .fix__width {
    width: 140px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .display__flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header nav .right-nav {
    display: none;
  }
  header nav .bar__icon {
    display: block;
  }
  header nav .dropdown__menu {
    display: block;
  }
  .banner__div img {
    border-radius: 0px 0px 0px 40px;
  }
  .banner__div .container .banner__div--content {
    max-width: 90%;
  }
  .banner__div .container .banner__div--content h2 {
    font-size: 25px;
  }
  .banner__div .container .banner__div--content p {
    font-size: 12px;
  }
  .banner__div .container .banner__div--content a {
    font-size: 12px;
  }
  .banner__div .container .banner__div--content .banner__btn {
    padding: 4px 8px;
    border-radius: 6px;
  }
  .work__div .display__flex {
    gap: 21px;
  }
  .about__div .about .about__div--left {
    width: 100%;
  }
  .about__div .about .about__div--right img {
    border-radius: 0px 126.5px 0px 50px;
  }
  .testimonial__div .test .testimonial__div--heading {
    padding: 0;
  }
  .testimonial__div .test .card .testimonial__div--card {
    height: 300px;
  }
  .logo__div .logo {
    gap: 50px;
  }
  .project__div .project .project__div--heading {
    padding: 0;
  }
  .counter__div .counter {
    padding: 0;
    gap: 20px;
  }
  .counter__div .counter .border__counter {
    border: none;
  }
  .counter__div .counter .counter__div--content {
    padding: 0;
  }
  .div__blog .blog__div--heading {
    padding: 0;
  }
  .div__blog .div__blog--content .div__blog--card .card__image img {
    width: 100%;
    height: auto;
  }
  .div__blog .div__blog--content .div__blog--card .card__tag {
    top: 55%;
  }
  .contact__div .contact {
    text-align: center;
  }
  footer .foot {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
  .display__flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header nav .right-nav {
    display: none;
  }
  header nav .bar__icon {
    display: block;
  }
  header nav .dropdown__menu {
    display: block;
  }
  .banner__div img {
    border-radius: 0px 0px 0px 40px;
  }
  .banner__div .container .banner__div--content {
    max-width: 90%;
  }
  .banner__div .container .banner__div--content h2 {
    font-size: 25px;
  }
  .banner__div .container .banner__div--content p {
    font-size: 12px;
  }
  .banner__div .container .banner__div--content a {
    font-size: 12px;
  }
  .banner__div .container .banner__div--content .banner__btn {
    padding: 4px 8px;
    border-radius: 6px;
  }
  .work__div .display__flex {
    gap: 21px;
  }
  .about__div .about .about__div--left {
    width: 100%;
  }
  .about__div .about .about__div--right img {
    border-radius: 0px 126.5px 0px 50px;
  }
  .testimonial__div {
    overflow-x: hidden;
  }
  .testimonial__div .test .testimonial__div--heading {
    padding: 0;
  }
  .testimonial__div .test .card .testimonial__div--card {
    height: 300px;
  }
  .logo__div .logo {
    gap: 50px;
  }
  .project__div .project .project__div--heading {
    padding: 0;
  }
  .counter__div .counter {
    padding: 0;
    gap: 20px;
  }
  .counter__div .counter .border__counter {
    border: none;
  }
  .counter__div .counter .counter__div--content {
    padding: 0;
  }
  .div__blog .blog__div--heading {
    padding: 0;
  }
  .div__blog .div__blog--content .div__blog--card .card__image img {
    width: 100%;
    height: auto;
  }
  .div__blog .div__blog--content .div__blog--card .card__tag {
    top: 40%;
  }
  .contact__div .contact {
    text-align: center;
  }
  footer .foot {
    flex-wrap: wrap;
    gap: 20px;
  }
  footer .foot .footer__one {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .foot .footer__one p {
    width: -moz-fit-content;
    width: fit-content;
  }
  footer .foot .fix__width {
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
  }
}/*# sourceMappingURL=style.css.map */