@font-face {
  font-family: Jost;
  src: url(../vendor/fonts/Jost/Jost-VariableFont_wght.ttf);
}

@font-face {
  font-family: DM_Serif_Display;
  src: url(../vendor/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}
