$red-color: red;
$blue-color: blue;
$white-color: #ffffff; 
$menu-color: #292F36;
$brown-color: #4D5053;
$sand-color: #F4F0EC;
$light-brown: #CDA274;
$border-color: #E7E7E7;
$body-border-color: #E6E6E6;