@use "./general" as *;
@use "./variable" as *;
@use "./typography";

.toggle-button{
  width: 50px;
  height: 40px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  // background-color: pink;
}
.check-box {
  transform: scale(2);  
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  /* position: fixed; */
  top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%); 
  transform: translateY(-50%);
}

input[type="checkbox"] {
  position: sticky;
  appearance: none;
  width: 80%;
  height: 50%;
  background-color: #ccc;
  border-radius: 50px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.4s;
}

input:checked[type="checkbox"] {
  background: #7da6ff;
}

input[type="checkbox"]::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: 0.4s;
}
input:checked[type="checkbox"]::after {
  left: 50%;
}

// navbar style starts here 
nav {
  width: 100%;
  background-color: $white-color;
}

//container which contains the max-width of the website.
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

//common properties for all the paragraph tags
p {
  color: $brown-color;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.22px;
}

// common properties for all the h2 tags 
h2 {
  color: $menu-color;
  font-family: DM_Serif_Display;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 1px;
}

.flexprop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 0;
}

// common property for all the buttons.  
.btn__primary {
  display: inline-flex;
  gap: 10px;
  font-family: Jost;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.36px;
  align-items: center;
  cursor: pointer;
}

// left side of navbar 
.left-nav {
  display: flex;
  align-items: center;

  h2 {
    color: $menu-color;
    font-size: 40px;
    font-family: DM_Serif_Display;
    font-weight: 400;
    padding: 0 0.5rem;
  }
}

// right side of the navbar 
.right-nav {
  display: flex;
  align-items: center;
  gap: 31px;

  .horizontal-list {
    display: flex;
    gap: 48px;

    li a {
      color: $menu-color;
      font-size: 20px;
      font-family: Jost;
      font-weight: 400;
    }
  }
}

// dropdown menu icon 
.bar__icon{
  width: 2.5rem;
  cursor: pointer;
  display: none;
}

//dropdown menu style starts here
.dropdown__menu{
  display: none;
  position: absolute;
  right: 0;
  height: 0;
  top: 90px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  z-index: 2;
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

    a{
      color: $menu-color;
    }
  }
}
.open{
  height: 300px;
}

//common property wherever flex is used.
.display__flex {
  display: flex;
}

// banner section design starts here.
.banner__div {
  position: relative;

  img {
    width: 100%;
    height: auto;
    border-radius: 0px 0px 0px 291px;
  }

  .container {
    // content inside the banner section 
    .banner__div--content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      max-width: 34%;

      h2 {
        font-size: 84px;
      }

      p {
        margin-top: 2px;
        margin-bottom: 21px;
      }

      .banner__btn {
        padding: 26px 48px;
        background-color: #292F36;
        border-radius: 18px;
        color: $white-color;
        box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
        border: none;
      }
    }
  }
}

// work section design starts here. 
.work__div {
  margin: 200px 0;

  //cards inside the work section.
  .work__div--container {
    margin: 0 21px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 25px;
      padding-bottom: 20px;
    }

    .work_btn {
      margin-top: 50px;
      color: $brown-color;
      background-color: $white-color;
    }
  }
}

// about section design starts here.
.about__div {
  .about {
    justify-content: space-between;

    // left side of about section 
    .about__div--left {
      width: 472px;
      padding: 32.5px 0;

      // heading of about section 
      h2 {
        margin-bottom: 33px;
      }

      // content of heading section 
      p {
        margin-bottom: 45px;
      }

      // icon and call information 
      .about__div--icon {
        display: flex;
        margin-bottom: 47px;

        .about__div--call {
          margin: 15px;
          color: $brown-color;
          font-family: Jost;

          h3 {
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 0.24px;
          }

          p {
            font-size: 22px;
            font-weight: 400;
            letter-spacing: 0.22px;
            margin: 0;
          }
        }
      }

      // button  
      .about__btn {
        color: $white-color;
        padding: 26px 31px;
        background-color: $menu-color;
        border-radius: 18px;
        border: none;
        box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);

      }
    }

    //right side of about div
    .about__div--right {
      img {
        border-radius: 0px 326.5px 0px 123px;
      }
    }
  }
}

// testimonial section design starts here.
.testimonial__div {
  margin-top: 200px;

  // inside container 
  .test {
    background-color: $sand-color;
    padding: 88px 0px;
    border-radius: 100px;

    .responsive{
      .slick-dots{
        li{
          button::before{
            font-size: 50px;
          }
        }
      }
    }

    // heading part 
    .testimonial__div--heading {
      padding: 0 300px;
      padding-bottom: 38px;

      h2 {
        text-align: center;
      }
    }

    // div which contains all the cards inside it 
    .card {
      .slick-track{
        display: flex;
        gap: 20px;
        // padding: 0 4px;
      }

      // individual card
      .testimonial__div--card {
        // padding: 58px 37px 54px;
        padding: 30px;
        height: 340px;
        width: 33.33%;
        background-color: $white-color;
        border-radius: 50px;

        // information contains image, name, city
        .info {
          display: flex;
          margin-bottom: 39px;
          gap: 20px;
          align-items: center;

          img {
            border-radius: 50px;
          }

          h3 {
            color: $menu-color;
            font-family: DM_Serif_Display;
            font-size: 25px;
            font-weight: 400;
            letter-spacing: 0.25px;
          }

          p {
            letter-spacing: 0.18px;
          }
        }

      }
    }
  }
}

// logos of brands section design starts here. 
.logo__div {
  margin-top: 150px;

  // container which contains all the logos 
  .logo {
    justify-content: space-between;
    padding: 0 54px;
    align-items: center;
  }
}

//project section design starts here
.project__div {
  margin-top: 150px;

  // heading and paragraph of project 
  .project__div--heading {
    padding: 0 220px 93px;

    h2 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

  // class which contains cards 
  .space {
    margin-bottom: 56px;
  }

  //div which contains project card
  .project__div--container {
    display: flex;
    justify-content: space-between;

    //div of card
    .project__div--content {

      //image of project card one 
      .project__image--one {
        border-radius: 0px 80px 0px 0px;
      }

      //image of project card two
      .project__image--two {
        border-radius: 80px 0px 0px 0px;
      }

      //image of project card three
      .project__image--three {
        border-radius: 0px 0px 80px 0px;
      }

      //image of project card four
      .project__image--four {
        border-radius: 0px 0px 0px 80px;
      }

      //content of the card
      .project__content {
        display: flex;
        justify-content: space-between;
        padding-top: 24px;

        //left side content
        .project__content--left {
          .project__link--primary {
            color: $menu-color;
            font-family: DM_Serif_Display;
            font-size: 25px;
            font-weight: 400;
            letter-spacing: 0.5px;
          }

          .project__link--secondary {
            color: $brown-color;
            font-family: Jost;
            font-size: 22px;
            font-weight: 400;
            letter-spacing: 0.22px;
          }
        }
      }
    }
  }
}

// counter section design starts here
.counter__div {
  margin-top: 150px;
  background-color: $sand-color;

  //container inside counter section.
  .counter {
    padding: 150px 0;
    justify-content: space-around;

    //divs in which border is needed. 
    .border__counter {
      border-right: 1px solid $light-brown;
    }

    //all the divs which contains content.
    .counter__div--content {
      position: relative;
      padding-right: 70px;

      h2 {
        color: $light-brown;
        font-size: 85px;
        text-align: center;
        letter-spacing: 1.7px;
      }
    }
  }
}

// blog section design starts here. 
.div__blog {
  margin: 200px 0;

  // div which contains heading and some content
  .blog__div--heading {
    padding: 0 190px 52px;

    h2 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

  //div contains all the cards.
  .div__blog--content {
    gap: 27px;
  }

  //card starts here.
  .div__blog--card {
    padding: 21px;
    border-radius: 62px;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    border: 1px solid $border-color;
    position: relative;

    // image inside the card 
    .card__image {
      img {
        border-radius: 45px 45px 0 0;
      }
    }

    //the tag of the card which is above image
    .card__tag {
      position: absolute;
      top: 50%;
      color: $brown-color;
      font-family: Jost;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.16px;
      background-color: $white-color;
      left: 40px;
    }
    
    //content of the card.
    .card__content {
      padding: 21px 0;

      .card__moreinfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;

        p {
          font-size: 16px;
          letter-spacing: 0.16px;
        }
      }
    }

    h2 {
      font-size: 25px;
      letter-spacing: 0.25px;
    }
  }

  //this card contains different color 
  .margin__card {
    background-color: $sand-color;
  }
}

//contact section design starts here
.contact__div {

  //container inside the contact section.
  .contact {
    background-color: $menu-color;
    padding: 80px 0;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: $white-color;
    }

    p {
      color: $white-color;
      padding-top: 11px;
      padding-bottom: 32px;
    }

    .contact_btn {
      color: $white-color;
      padding: 26px 37px;
      background-color: $light-brown;
      border-radius: 18px;
      border: none;
      box-shadow: 0px 10px 20px 0px #1F2022;
    }
  }
}


//footer design starts here.
footer {
  margin-top: 135px;

  // container inside the footer 
  .foot {
    display: flex;
    justify-content: space-between;

    // first column of the footer 
    .footer__one {
      p {
        width: 393px;
        padding-bottom: 31px;
        padding-top: 18px;
      }

      .footer_logos {
        width: 225px;
        display: flex;
        justify-content: space-between;
      }
    }

    .fix__width {
      width: 258px;
    }

    // second, third and fourth column design of the footer.
    .footer__two {
      h2 {
        font-size: 25px;
      }

      .vertical-list {
        li {
          padding: 18px 0;

          a {
            color: $brown-color;
            font-family: Jost;
            font-size: 22px;
            font-weight: 400;
            letter-spacing: 0.22px;
          }
        }
      }

      p {
        padding: 18px 0;
      }
    }
  }

  // copyright message at the bottom 
  .copyright {
    margin-top: 134px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 46px;
  }
}

//large desktop screen design starts here
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }

  // banner section starts here
  .banner__div {
    img {
      border-radius: 0px 0px 0px 200px;
    }

    .container {
      .banner__div--content {
        max-width: 47%;
      }
    }
  }
  // banner section ends here. 
}

//small desktop design starts here.
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  
  //container size of small desktop
  .container {
    max-width: 960px;
    margin: 0 auto;
  }

  // banner section starts here
  .banner__div {
    img {
      border-radius: 0px 0px 0px 140px;
    }

    .container {
      .banner__div--content {
        max-width: 55%;
      }
    }
  }
  // banner section ends here 

  // about section starts here
  .about__div {
    .about {
      gap: 75px;

      .about__div--left {
        width: 50%;
      }

      .about__div--right {
        width: 50%;

        img {
          height: 100%;
          border-radius: 0px 245.5px 0px 123px;
        }
      }
    }
  }

  // testimonial section starts here 
  .testimonial__div {
    .test {
      .testimonial__div--heading {
        padding: 0 200px;
      }

      .card {
        // padding: 0 16px;
        // gap: 16px;

        .testimonial__div--card {
          // padding: 58px 2px 54px;
          padding: 30px;
          height: 450px;
        }
      }
    }
  }

  // project section starts here
  .project__div {
    .project {
      .project__div--heading {
        padding: 0 124px 93px;
      }

      .project__div--container {
        gap: 80px;
      }
    }
  }

  // counter section starts here
  .counter__div{
    .counter{
      .counter__div--content{
        padding-right: 40px;
      }
    }
  }

  // blog section starts here
  .div__blog {
    .blog__div--heading {
      padding: 0 66px 52px;
    }

    .div__blog--content {
      .div__blog--card {
        .card__tag {
          top: 38%;
        }
      }
    }
  }

}

// Tablet design starts here
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 720px;
    // margin: 0 auto;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 12px;
  }

  .btn__primary {
    font-size: 12px;
  }

  // navbar starts here
  nav {
    .right-nav {
      gap: 20px;

      .horizontal-list {
        gap: 15px;
      }
    }
  }

  // banner section starts here
  .banner__div {
    img {
      border-radius: 0px 0px 0px 150px;
    }

    .container {
      .banner__div--content {
        max-width: 38%;

        h2 {
          font-size: 42px;
        }

        p {
          font-size: 12px;
        }

        .banner__btn {
          padding: 13px 24px;
          font-size: 8px;
          border-radius: 9px;
        }
      }
    }
  }

  // work section starts here
  .work__div {
    .display__flex {
      padding: 0px;
      flex-wrap: wrap;
      justify-content: space-around;

      .work__div--container {
        width: calc(50% - 42px);
        padding: 0 58px;
      }
    }
  }

  // about section starts here
  .about__div {
    .about {
      .about__div--left {
        .about__div--icon {
          align-items: center;

          img {
            height: auto;
            width: 50px;
          }

          .about__div--call {
            h3 {
              font-size: 12px;
            }

            p {
              font-size: 12px;
            }
          }
        }

        a {
          font-size: 9px;
        }

        .about__btn {
          padding: 13px 15px;
          border-radius: 9px;
        }
      }

      .about__div--right {
        img {
          border-radius: 0px 163.5px 0px 61.5px;
        }
      }
    }
  }

  // testimonial section starts here
  .testimonial__div{
    .test{
      .testimonial__div--heading{
        padding: 0px 210px;
      }
      .card{
        .testimonial__div--card{
          height: 250px;
        }
      }
    }
  }

  // logo section starts here
  .logo__div {
    .logo {
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 25px;
    }
  }

  // project section starts here
  .project__div {
    .project {
      .project__div--heading{
        padding: 0px 160px 93px;
      }
      .project__div--container {
        gap: 20px;
        .project__div--content{
          .project__content{
            .project__content--left{
              .project__link--primary{
                font-size: 16px;
              }
              .project__link--secondary{
                font-size: 12px;
              }
            }
            .project__content--right{
              width: 35px;
              height: auto;
            }
          }
        }
      }
    }
  }

  // counter section starts here
  .counter__div {
    .counter {
      .counter__div--content {
        padding-right: 42px;

        h2{
          font-size: 48px;
        }
      }
    }
  }

  // blog section starts here
  .div__blog {
    .div__blog--content {
      flex-wrap: wrap;
      justify-content: space-around;

      .div__blog--card {
        width: calc(50% - 13.5px);
        .card__tag{
          top: 45%;
        }
      }
    }
  }

  // contact section starts here
  .contact__div {
    .contact {
      .contact_btn {
        padding: 13px 18px;
        border-radius: 9px;
      }
    }
  }

  // footer starts here
  footer {
    .foot {
      .footer__one {
        p {
          width: 215px;
        }

        .footer_logos {
          width: 126px;
        }
      }

      .footer__two {
        h2 {
          font-size: 16px;
        }

        .vertical-list li a {
          font-size: 12px;
        }
      }

      .fix__width {
        width: 140px;
      }
    }
  }
}

//mobile design starts here 
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 540px;
    // margin: 0 auto;
  }

  .display__flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // header starts here 
  header {
    nav{
      .right-nav{
        display: none;
      }
      .bar__icon{
        display: block;
      }
      .dropdown__menu{
        display: block;
      }
    }
  }

  // banner section design starts here  
  .banner__div {
    img {
      border-radius: 0px 0px 0px 40px;
    }

    .container {
      .banner__div--content {
        max-width: 90%;

        h2 {
          font-size: 25px;
        }

        p {
          font-size: 12px;
        }

        a {
          font-size: 12px;
        }

        .banner__btn {
          padding: 4px 8px;
          border-radius: 6px;
        }
      }

    }
  }

  // work section design starts here 
  .work__div {
    .display__flex {
      gap: 21px;
    }
  }

  // about section design starts here 
  .about__div {
    .about {
      .about__div--left {
        width: 100%;
      }

      .about__div--right {
        img {
          border-radius: 0px 126.5px 0px 50px;
        }
      }
    }
  }
  
  // testimonial section design starts here.
  .testimonial__div {
    .test {
      .testimonial__div--heading {
        padding: 0;
      }
      .card{
        .testimonial__div--card{
          height: 300px;
        }
      }
    }
  }

  // logo section design starts here. 
  .logo__div {
    .logo {
      gap: 50px;
    }
  }

  // project section design starts here 
  .project__div {
    .project {
      .project__div--heading {
        padding: 0;
      }
    }
  }

  // counter section design starts here. 
  .counter__div{
    .counter{ 
      padding: 0;
      gap: 20px;
      .border__counter{
        border: none
      }
      .counter__div--content{
        padding: 0;
      }
    }
  }

  // blog section design starts here. 
  .div__blog {
    .blog__div--heading {
      padding: 0;
    }

    .div__blog--content {
      .div__blog--card {
        .card__image {
          img {
            width: 100%;
            height: auto;
          }
        }
        .card__tag {
          top: 55%;
        }
      }
    }
  }

  //contact section design starts here.
  .contact__div{
    .contact{
      text-align: center;
    }
  }

  //footer design starts here.
  footer {
    .foot{
      flex-wrap: wrap;
    }
  }
}

//small mobile screens
@media only screen and (max-width: 576px) {
  .container {
    // max-width: 100%;
    width: 100%;
    // margin: 0 auto;

  }

  .display__flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // header starts here 
  header {
    nav{
      .right-nav{
        display: none;
      }
      .bar__icon{
        display: block;
      }
      .dropdown__menu{
        display: block;
      }
    }
  }

  // banner section starts here 
  .banner__div {
    img {
      border-radius: 0px 0px 0px 40px;
    }

    .container {
      .banner__div--content {
        max-width: 90%;

        h2 {
          font-size: 25px;
        }

        p {
          font-size: 12px;
        }

        a {
          font-size: 12px;
        }

        .banner__btn {
          padding: 4px 8px;
          border-radius: 6px;
        }
      }

    }
  }

  // work section 
  .work__div {
    .display__flex {
      gap: 21px;
    }
  }

  // about section 
  .about__div {
    .about {
      .about__div--left {
        width: 100%;
      }

      .about__div--right {
        img {
          border-radius: 0px 126.5px 0px 50px;
        }
      }
    }
  }

  // testimonial section 
  .testimonial__div {
    overflow-x: hidden;
    .test {
      .testimonial__div--heading {
        padding: 0;
      }
      .card{
        .testimonial__div--card{
          height: 300px;
        }
      }
    }
  }

  // logos section
  .logo__div {
    .logo {
      gap: 50px;
    }
  }

  //project section 
  .project__div {
    .project {
      .project__div--heading {
        padding: 0;
      }
    }
  }

  //counter section 
  .counter__div{
    .counter{ 
      padding: 0;
      gap: 20px;
      .border__counter{
        border: none
      }
      .counter__div--content{
        padding: 0;
      }
    }
  }

  //blog section
  .div__blog {
    .blog__div--heading {
      padding: 0;
    }
    .div__blog--content {
      .div__blog--card {
        .card__image {
          img {
            width: 100%;
            height: auto;
          }
        }
        .card__tag {
          top: 40%;
        }
      }
    }    
  }

  //contact section
  .contact__div{
    .contact{
      text-align: center;
    }
  }

  //footer
  footer {
    .foot{
      flex-wrap: wrap;
      gap: 20px;
      .footer__one{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
          width: fit-content;
        }
      }
      .fix__width{
        text-align: center;
        width: fit-content;
      }
    }
  }
}